.Perception-form {
  background-color: #333;
  padding: 20px;
  margin-bottom: 10px;
}

input[type="tel"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-top: 6px;
  margin-bottom: 16px;
  max-width: 50px;
}

select {
  border: 1px solid #ccc;
  border-radius: 4px;
padding: 5px;
  margin-top: 6px;
  margin-bottom: 16px;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  font-size: small;
  min-width: 175px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
