.Perception-temperature {
  font-weight: bold;
}

.Perception-date {
  font-size: small;
}

.Perception-basic p {
  margin: 0;
  padding: 0 !important;
  line-height: 1;
}

pre {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
