.UnitPicker {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #333;
  border-radius: 5px;
  text-align: left;
  line-height: 1.5;
}

.UnitPicker-title {
  font-weight: bold;
  font-size: large;
  margin: 0;
  padding: 0;
}

input[type="radio"] {
  margin-right: 7px;
  margin-left: 14px;
}
